html, body {
    font-family: monospace;
    color: white;
    background-image: url('https://wallpaperaccess.com/full/1765802.jpg');
    background-size: cover; /* Makes the background cover the entire viewport */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
    height: 100vh; /* Sets the height of the body to 100% of the viewport height */
    margin: 0; /* Removes default margin */
}

img {
    width: 150px;
    height: auto;
}

#alert-container .alert {
    width: 50%; /* Set alert width to 50% */
    margin: 0 auto; /* Center the alert */
}

.navbar {
    justify-content: center; /* Center the navbar items */
}

.navbar-nav {
    flex-direction: row; /* Ensure the navbar items are in a row */
}

.navbar-nav .nav-item {
    margin: 0 15px; /* Space out the items */
}
